language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

env:
  global:
    - SYMFONY_DEPRECATIONS_HELPER=weak

addons:
  ssh_known_hosts:
    - localhost

matrix:
  fast_finish: true
  include:
    - php: 5.3.3
      env: deps="low"
    - php: 5.5
      env: SYMFONY_VERSION="~2.3.1" SYMFONY_DEPRECATIONS_HELPER=strict
    - php: 5.5
      env: SYMFONY_VERSION="~2.7.0"
    - php: 5.5
      env: SYMFONY_VERSION="3.0.x-dev as 3.0"
  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION="3.0.x-dev as 3.0"

before_install:
    - wget http://getcomposer.org/composer.phar

install:
    - if [ "$SYMFONY_VERSION" != "" ]; then php -d memory_limit=-1 composer.phar require --dev --no-update symfony/symfony=$SYMFONY_VERSION; fi
    - if [ "$deps" = "low" ]; then php -d memory_limit=-1 composer.phar update --prefer-lowest; fi
    - if [ "$deps" != "low" ]; then php -d memory_limit=-1 composer.phar update; fi
    - php composer.phar show --installed

before_script:
    # Allow us to SSH passwordless to localhost
    - ssh-keygen -f ~/.ssh/id_rsa -N ""
    - cp ~/.ssh/{id_rsa.pub,authorized_keys}
    # Creation of an SSH agent for testing forwarding
    - eval $(ssh-agent)
    - ssh-add
    # Create sample config file
    - cp Test/app/parameters.yml.dist Test/app/parameters.yml

script:
  - bin/phpunit --coverage-clover=coverage.clover -d zend.enable_gc=0

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
