language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

env:
    - SYMFONY_VERSION="2.3.*"
    - SYMFONY_VERSION="2.5.*"
    - SYMFONY_VERSION="2.6.*"
    - SYMFONY_VERSION="dev-master"

addons:
  ssh_known_hosts:
    - localhost

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
    - env: SYMFONY_VERSION="dev-master"

before_script:
    - composer self-update # Update composer as travis is not updating it.
    - >
        composer require --dev \
          symfony/symfony:${SYMFONY_VERSION}
    - phpenv rehash

    # Allow us to SSH passwordless to localhost
    - ssh-keygen -f ~/.ssh/id_rsa -N ""
    - cp ~/.ssh/{id_rsa.pub,authorized_keys}
    # Creation of an SSH agent for testing forwarding
    - eval $(ssh-agent)
    - ssh-add
    # Create sample config file
    - cp Test/app/parameters.yml.dist Test/app/parameters.yml

script:
  - bin/phpunit --coverage-clover=coverage.clover -d zend.enable_gc=0

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
